/* =========================================== GENERAL CSS =========================================== */

body{
    margin: 0;
    background-color: rgb(0, 8, 15);
}

.sectionPadding{
    padding-block: 64px;
    border-top: 1px white;
}

.sectionBackground{
    background-color:  rgb(0, 8, 15);
}

.container{
    margin: auto;
    max-width: 1060px;
}

*{
    color:  rgb(249, 249, 249);
    font-family: "Roboto", sans-serif;
}

.button{
    text-align: center;
    color: white;
    background-color: rgb(176 12 12);
    text-decoration: none;
    font-size: 17px;
    padding: 15px;
    /* margin-bottom: 15px; */
    width: 90px;
    border-radius: 10px;
}
.button:hover{
    background-color: rgb(248, 245, 245);
    color: black;
}
/* bouton CTA */
.CTA {
    width: 224px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

/* ======================================================================================================================== */



/* =========================================== HEADER =========================================== */

nav {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        text-decoration: none;
        color: rgb(249, 249, 249);
    }

    div{
        display: flex;
        gap: 15px;
    }
    
}



#heroSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    padding-left: 84px;
    font-size: 90px;
    font-size: 53px;

    /* button{
        color: rgb(0, 8, 15);
    } */
}

/* ======================================================================================================================== */



/* =========================================== SECTION AVANTAGE =========================================== */

#avantagesSection{
    /* background-color: rgb(243, 240, 240); */

    
    .container{
        /* *{
            color: black;
        } */
        p{
            text-align: center;
            
        }
    }
}

#containerAvantages{
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    justify-content: center;
}


.cardAvantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 231px;
    padding: 10px;
    background-color: #fffdfd;
    
    border-radius: 5px;
    *{
        color: black;
    }
}

/* ======================================================================================================================== */



/* =========================================== SECTION ACTIVITES =========================================== */

#containerActivity{
    display: flex;
    justify-content: center;
    gap: 55px;
}

.cardActivity {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #e2141499;
    padding: 10px;
    border-radius: 10px;
    

    img{
        width: 300px;
        height: 350px;
        /* border-radius: 10px 10px 0px 0px; */
    }
}

.cardActivity:hover{
    background-color: rgb(249, 249, 249);
    *{
        color: black;
    }
    
}

/* ======================================================================================================================== */



/* =========================================== SECTION TEMOIGNAGES =========================================== */

/* #temoignagesSection{
    background-color: rgb(243, 240, 240);
    color: black;
} */
#containerReview{
    display: flex;
    justify-content: center;
    gap: 55px;
}

.cardReview {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 231px;
    border: 1px;
    padding: 10px;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    *{  
        color: black;
    }
}

.temoignage{
    font-style: italic;
}

/* ======================================================================================================================== */



/* =========================================== FOOTER =========================================== */
#footerContentContainer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#footerContent2{
    display: flex;
    flex-direction: column;
    gap: 10px;

    a{
        text-decoration: none;
    }
}

#footerContent3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
}
 #footerLinks{
    display: flex;
    gap: 10px;
 }

/* ======================================================================================================================== */